*{
	margin: 0;
}

.carnet{
	justify-content: center;
}


.frontal{
	width: 500px;
	border: solid black 2px;
	border-radius: 10px;
	margin: 30px;

	
}
.cabecera{
	width: 500px;
	border-bottom: solid blue 15px;
	display: flex;
	align-items: center;
}
.cabecera img{
	width: 20%;
	float: left;
}
.cabecera h2{
	width: 40%;
	float: right;
	margin-right: 25%;
	margin-left: 5%;
	font-family: fantasy;
	font-style: oblique;
	

}
.contenido{
	width: 100%;
	display: flex;
}
.info{
	width: 60%;
	float: left;
	padding-left: 10px;
}


.codigo{
	width: 40%;
	padding-left: 20px;
}
.pie{
	text-align: center;
	border-top: solid blue 2px;
	margin-top: 10px;
	padding-top: 2px;
	display: flex;
}

.pie h3{
	font-size: 20px;
	margin: auto;
}
.fecha{
	width: 100%;
	display: flex;
	margin-top: 10px;
}

.valido{
	width: 30%;
	padding-top: 7px;
	align-items: center;
	text-align: center;
}
.desde{
	width: 35%;
	margin-right: 5%;
	margin-left: 5%;
	text-align: center;
}
.hasta{
	width: 30%;
	text-align: center;
}
